@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-wrap: balance;
}

body {
  font-family: "Manrope";
  /* background: linear-gradient(270deg, #405E9E 0%, #8F23AE 49%, #684EB2 100%); */
  overflow-x: hidden;
  background: #000;
  text-wrap: balance;
}
/* make scroll bar beautyful by removing default styles and makeing it with this gadient  #405E9E 0%, #8F23AE 49%, #684EB2 100%);
 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to top,
    #405e9e93 0%,
    #8f23ae93 49%,
    #694eb293 100%
  );
  border-radius: 10px;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.no-scrollbar {
  scrollbar-width: none;
}
.heading_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Border to the boxes in testimonial section */
.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(
    to right,
    #405e9e93 0%,
    #8f23ae93 49%,
    #694eb293 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* .card{
  width:100vw;
  height:100vh;
  display:flex;
  align-items:centre;
  justify-content:centre;
  position:sticky;
  top:0;
} */


/* Data Engineering CSS Start */

.font-gray {
  color: #6b6b6b;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 1320px;
  height: 889px;
  align-items: center;
}

.bgImage {
  z-index: -1;
}

.image-container > div {
  width: 89%;
}

.imageVideo {
  background-image: url(/src/assets/images/CaseStudies/image7/ef866d61b87135be7b704b5b856b81b5.jpeg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 780px 551px;
  transform-origin: right bottom;
  border: 1px solid #000;
}

.offer-bg-height {
  height: 830px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.font-dark {
  color: #131a1b;
}

.offer-description {
  width: 378px;
  font-size: 14px;
  line-height: 24.59px;
}

.bg-p {
  background: #405e9e;
}

.offer-container {
  display: flex;
  justify-content: center;
}

.offer-content {
  width: 1130px;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
  color: #000;
  border-radius: 8px;
  margin-top: 20px;
  p{
    text-wrap: wrap;
    text-align: center;
    margin: 0 75px;
    font-size: 14px;
  }
}

/* //info: caseStudy section */
.caseStudy {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

/* //info: caseStudyCard css */
.caseStudyCard {
  position: relative;
  height: 406px;
  width: 300px;
  border-radius: 10px;
  margin: 10px 20px;
  transition: all 500ms ease; /* //info: for smooth transaction */
}

/* //info: caseStudyCard Hover code */
.caseStudyCard:hover {
  width: 650px;
  .caseStudyContent {
    position: absolute;
    bottom: 120px;
    left: 27px;
  }
  .caseStudyBtn { 
    display: none;
  }
  .caseStudyPara {
    width: 100%;
  }
  
  .caseStudydescription {
    display: block;
    width: 80%;
    font-size: 15px;
  }
  
  .caseStudyReadMoreBtn {
    display: block;
  }
/*   
  .bgImg {
    backdrop-filter: blur(10px);
  } */
}

.caseStudyContent {
  position: absolute;
  bottom: 39px;
  left: 27px;
}

.caseStudyBtn {
  font-size: 16px;
  background: linear-gradient(270deg, #405E9E 0%, #8F23AE 49%, #684EB2 100%);
  width: 114px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.caseStudyPara {
  font-size: 20px;
  margin-top: 20px;
  min-height: 52px;
  width: 172px;
}

.caseStudydescription {
  display: none;
}

.caseStudyReadMoreBtn {
  display: none;
  width: 170px;
  height: 40px;
  margin-top: 15px;
}

/* //info: caseStudycard common background image properties */
.bgImg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* //info: caseStudycard images */
.bgImg1 {
  background-image: url(/src/assets/images/CaseStudies/caseStudy1.png);
}

.bgImg2 {
  background-image: url(/src/assets/images/CaseStudies/caseStudy2.jpg);
}
.bgImg3 {
  background-image: url(/src/assets/images/CaseStudies/caseStudy3.jpg);
}
.bgImg4 {
  background-image: url(/src/assets/images/CaseStudies/caseStudy4.jpg);
}

.btn-container {
  margin-top: 80px;
}

.brTLR-40 {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.btn {
  margin: 10px 20px;
  /* border: 0.5px solid black; */
  padding: 10px;
  border-radius: 8px;
}
.btn-shade {
  border: none;
  outline: none;
  background: linear-gradient(to right, #fff, #F1F1F1);
}

.bg-class {
  background: linear-gradient(270deg, #405E9E 0%, #8F23AE 49%, #684EB2 100%);
}
.techno-expertise-container {
  top: -40px;
  position: relative;
  height: 750px;
  background: linear-gradient(270deg, #405E9E 0%, #8F23AE 49%, #684EB2 100%);

  .techno-description {
    width: 478px;
    font-size: 14px;
    line-height: 24.59px;
    margin-bottom: 20px;
  }
  .tech-stack-img {
    width: 1200px;
    height: 300px;
  }
}

.choose-us-container {
  background: black;
  top: -100px;
  position: relative;
  border-radius: 40px;
}

.w-50 {
  width: 50%;
}
/* //info: light and dark mode css */
.mode-container {
  border: 1px solid;
  border-radius: 25px;
  padding: 9px 2px;
  background-color: transparent;
  width: 156px;
  height: 45px;
  cursor: pointer;
}

.mode {
    padding: 10px 20px;
}

.mode-active {
    border-radius: 25px;
    background: linear-gradient(270deg, #405E9E 0%, #8F23AE 49%, #684EB2 100%);
}

.videoPlayContainer {
  position: relative;
}

.playCircle {
  position: absolute;
  top: 170px;
  left: 368px;
  font-size: 60px;
}

.video {
  border-radius: 20px;
  width: 680px;
  height: 386px;
}

.videoInfo {
  align-self: center;
  line-height: 40px;
  font-size: 20px;
  width: 422px;
  height: 280px;
}

/* //info: whychooseus section icons card switch */
.IconInfocard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: 1.07px solid #FFFFFF17;
  border-radius: 12px;
  margin: 10px;
  background: #8989890D;
  transition: all 0.5s ease;
}

.front {
  width: 218px;
  height: 218px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back {
  display: none;
  width: 218px;
  height: 218px;
  justify-content: center;
  align-items: center;
  background-color: #405E9E;
  border-radius: 12px;
  P {
    font-size: 12px;
    margin: 10px;
    text-align: center;
  }
}

.IconInfocard:hover {
  .front {
    display: none;
  }
  .back {
    display: flex;
  }
}

.formInput {
  display: block;
  color: #A5A5A5;
  margin: 40px 35px;
  padding-bottom: 15px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  width: 350px;
  background-color: transparent;
  height: 43px;
}

.formButton {
  margin: 40px 35px;
}

/* Data Engineering CSS End */
